* {
	padding: 0;
	margin: 0;
}

header {
	height: 10vh;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.a {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 20px;
	padding: 20px;
}

a {
	text-decoration-line: none;
	color: white;
}

div:not(.rr) {
	display: flex;
	flex-direction: column;
}

.rr {
	display: flex;
	flex-direction: row;
}

article {
	width: 75vw;
	height: 30vh;
	overflow: scroll;
	display: flex;
	flex-direction: row;
}

section {
	display: flex;
	flex-direction: row;
}

p:not(.a) {
	width: 20vw;
	height: auto;
	padding: 25px;
	margin-left: 1vw;
	background-color: white;
	margin-top: 40px;
	margin-right: 40px;
	border-radius: 6px;
	margin-bottom: 80px;
	box-shadow: 5px 5px 5px 5px #454545;
	line-height: 1.6;
	overflow: auto;
}

.div {
	width: 25vw;
	height: 90vh;
	overflow: scroll;
	display: flex;
	flex-direction: row;
	background-color: black;
}

.a1 {
	background-color: orangered;
}

.a2 {
	background-color: #ffd400;
}

.a3 {
	background-color: blue;
}

.aaa {
	width: 9vw;
	height: 16vh;
	margin-left: 20px;
	margin-top: 60px;
	margin-bottom: 80px;
}

img {
	width: 12vw;
	height: auto;
	padding: 10px;
}

h2 {
	color: white;
	padding: 30px;
}

.bbb {
	padding-left: 180px;
}

@media (max-width: 900px) {
	.rr {
		display: flex;
		flex-direction: column;
	}

	article {
		width: 100vw;
		height: auto;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	section {
		display: flex;
		flex-direction: column;
		margin-left: 10vw;
	}

	p:not(.a) {
		width: 50vw;
		height: auto;
		overflow: auto;
		padding: 25px;
		margin-left: 1vw;
		background-color: white;
		margin-top: 40px;
		border-radius: 6px;
		margin-bottom: 80px;
		box-shadow: 5px 5px 5px 5px #454545;
	}

	h1 {
		width: 100vw;
	}

	.aaa {
		width: 25vw;
		height: auto;
		margin-left: 20px;
		margin-top: 60px;
		margin-bottom: 0px;
	}

	img {
		width: 50vw;
		height: auto;
		padding: 10px;
	}

	.div {
		width: 100vw;
		height: auto;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	body {
		overflow-x: hidden;
	}