h1 {
	background: linear-gradient(90deg, lightblue, darkblue);
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	letter-spacing: 10px;
}

h2 {
	margin-right: 50px;
	background-color: skyblue;
	width: 135px;
	height: 35px;
	padding: 20px;
	border-radius: 40px;
	color: white;
}

h3 {
	background-color: white;
	width: 400px;
	height: 20px;
	padding: 20px;
	border-radius: 40px;
	color: black;
}

nav {
	background-color: royalblue;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

ol {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

li {
	margin: 30px;
	color: white;
}

article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 2px dotted darkblue;
	padding: 50px;
	margin: 50px;
}

section {
	background-color: lightblue;
	width: 450px;
	height: 850px;
	padding: 10px;
	border-radius: 30px;
	background: linear-gradient(skyblue, royalblue);
	margin-right: 50px;
	margin-bottom: 50px;
	box-shadow: 4px 4px 10px 2px;
}

footer {
	background-color: lightblue;
	height: 50px;
	color: white;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

p {
	line-height: 1.9;
	word-break: keep-all;
	width: 400px;
	margin: 10px;
	color: white;
}

a {
	color: white;
	text-decoration-line: none;
}

img {
	width: 400px;
	height: 300px;
	margin: 10px;
}

.o1 {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
}

.t1 {
	background-color: lightblue;
	background: linear-gradient(skyblue, royalblue);
	border-radius: 50px;
	width: 100px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.t2 {
	background-color: lightblue;
	background: linear-gradient(skyblue, royalblue);
	border-radius: 50px;
	width: 100px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.t3 {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.t4 {
	margin: 50px;
}

.t5 {
	margin: 50px;
}

@media screen and (max-width: 900px) {
	.o1 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	ol {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	section {
		background-color: lightblue;
		width: 300px;
		height: 880px;	
		background: linear-gradient(skyblue, royalblue);
	}
	article {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		border: 2px dotted darkblue;
		padding: 20px;
		margin: 50px;
	}
	h3 {
		background-color: white;
		width: 250px;
		height: 20px;
		padding: 20px;
		border-radius: 40px;
		color: black;
	}
	img {
		width: 275px;
		height: 208px;
		margin: 10px;
	}
	p {
		line-height: 1.9;
		word-break: keep-all;
		width: 280px;
		margin: 10px;
		color: white;
	}
}